
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Sign In</h1>

    <form [formGroup]="myform" (ngSubmit)="onSubmit()">
          
        <div class="form-group">
            <label id="usernamelab" class="input" for="username" >Username</label>
            <input id="username" 
                   type="text" 
                   class="input ec-input form-control" 
                   formControlName= "username"
                   name="username">
        </div>
        <div class="form-group">
            <label id="passwordlab" class="input" for="password" >Password</label>
            <input id="password"
                   type="password" 
                   class="input ec-input form-control" 
                   formControlName= "password"
                   name="password">
        </div>
     <button type="submit" class="btn btn-warning btn-lg">Signup</button>

     <button type="submit" class="btn btn-warning btn-lg"  >Signup </button>
    </form>

    <hr>


</div>

</div>